<!--
============================================
; Title: Assignment 2.4
; Author: Professor Krasso
; Date: 15 August 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular for Routing in Action
;===========================================
-->

<div class="row justify-content-md-between">
  <div class="col-sm-4">
    <img src="./assets/beethoven.jpg" height="500px">
    <figcaption style="text-align: center;">Photo by Benjamin Lehman on Unsplash</figcaption>
  </div>
  <div class="col-sm-6"><br><br><br><br><br><br>
    <p>Ludwig van Beethoven, born 1770 in Bonn, Germany. He was the oldest of three children of Johann and Maria Magdalena van Beethoven. It was soon realized he was a talented pianist and he gave his first performance at age 8. He was employed as a court musician and studied under both Hayden and Mozart. In 1792 he relocated to Vienna where he became known as a virtuoso pianist. He lived in Vienna until his death in 1827.</p>
  </div>
</div>
