<!--
============================================
; Title: Assignment 5.4
; Author: Professor Krasso
; Date: 05 September 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular.
;===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <img src="../assets/jkrowling.JPG" height="500px">
    <figcaption style="text-align: left;">Photo by Benjamin Lehman on Unsplash</figcaption>
  </div>
  <div fxFlex>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>J.K. Rowling (aka Joanne Rowling) is a British writer who has achieved world renown for her Harry Potter book series.  The books have acquired a devoted readership as well film, theater, and theme park adaptations. As a result of her success, Rowling has the distinction of becoming the first author to become a billionaire and the second-richest female entertainer in the world.  She began work on the first novel Harry Potter and the Philosopher’s Stone while receiving welfare benefits.</p>
  </div>

</div>
