<!--
============================================
; Title: Assignment 3.2
; Author: Professor Krasso
; Date: 22 August 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular for passing data to routes
;===========================================
-->

<div class="row justify-content-md-between">
  <div class="col-sm-4">
    <i class="bi-house-fill"></i>
    <p>456 Fast Lane Somerville, ohio 45064</p>
  </div>
  <div class="col-sm-4">
    <i class="bi-telephone-fill"></i>
    789-526-6641
  </div>
</div>

