<!--
============================================
; Title: Assignment 6.3
; Author: Professor Krasso
; Date: 12 September 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular.
;===========================================
-->

<div class="container">

      <img src="./assets/destination-unknown.jpg" style="width: 100%;"/>

      <div class="text-block">
        <h2>Destination Unknown</h2>
        <p>Error 404 - Page not found</p>

        <button mat-raised-button routerLink="/">Return Home</button>
        <br />
        <br />
        <br />

        <a href="Photo by Johannes Plenio on Unsplash" target="_blank">Photo by Johannes Plenio on Unsplash</a>


      </div>
</div>
