/*
============================================
; Title: Assignment 9.3
; Author: Professor Krasso
; Date: 03 October 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular.
===========================================
*/

/* Import font*/
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* mat-toolbar color*/
mat-toolbar {
  background-color: #880e4f;
}

/* Move Place an Order button to the right*/
.right {
  text-align: right;
}

/* Set toolbar font */
h1 {
  font-family: 'Gugi', Arial, Helvetica, sans-serif;
  font-size: 44px;
}

/* Set size of button text*/
button {
  font-size: 18px;
}
