<!--
============================================
; Title: Assignment 3.2
; Author: Professor Krasso
; Date: 22 August 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular for passing data to routes
;===========================================
-->

<!-- Unordered list-->
<ul class="list-group">
  <li class="list-group-item">{{composer.composerId}}</li>
  <li class="list-group-item">{{composer.fullName}}</li>
  <li class="list-group-item">{{composer.genre}}</li>
</ul>

<a routerLink="/composer-list" class="float-right">Return to Composers</a>
