/*
============================================
; Title: Assignment 9.3
; Author: Professor Krasso
; Date: 03 October 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular.
===========================================
*/

/* Set the color of the buttons*/
.bobs-color {
  background-color: #880e4f;
  color: white;
}

/* Make space below the service data*/
.service-data {
  margin-bottom: 20px;
}

/* Set the size of the buttons*/
.service-button {
  width: 100px;
}

/* Move buttons to the right*/
.right {
  text-align: right;
}
