/*
============================================
; Title: Assignment 6.3
; Author: Professor Krasso
; Date: 12 September 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular.
;===========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato&display=swap');

.container {
  position: relative;


}

.text-block {
  margin: auto;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 80px;
  right: 20px;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: 'Caveat', Arial, Helvetica, sans-serif;
  font-size: 52px;
}

p {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgb(73, 165, 150);
  color: black;
}

a {
  font-family: 'Caveat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(73, 165, 150);
}
