<!--
============================================
; Title: Assignment 3.4
; Author: Professor Krasso
; Date: 22 August 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular for guarding routes
;===========================================
-->
<div style="justify-content: center; margin: 150px auto;">
  <div class="card" style="width: 35%; margin-top: 10%; margin: 0 auto;">
    <input type="text" class="form-control" id="userName" placeholder="Username">
  </div>
  <div class="card" style="width: 35%; margin-top: 10%; margin: 0 auto;">
    <input type="text" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="card-body" style="text-align: center; margin: auto;">
    <button (click)="signIn()" type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
