<!--
============================================
; Title: Assignment 5.3
; Author: Professor Krasso
; Date: 05 September 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of Angular.
;===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

      Street Address
    </mat-card-header>
    <mat-card-content>123 Author Blvd</mat-card-content>
  </div>
  <div fxFlex>
    <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>

      Phone Number
    </mat-card-header>
    <mat-card-content>555-555-5555</mat-card-content>
  </div>

</div>
