/*
============================================
; Title: Assignment 1.5
; Author: Professor Krasso
; Date: 08 August 2017
; Modified By: Angie Martin
; Description: This program demonstrates the
; use of Angular.
;===========================================
*/

// Unordered list of my details
<ul class="list-group list-group-flush">
  <li class="list-group-item">Name: Angela Martin</li>
  <li class="list-group-item">Favorite Food: Prime Rib</li>
  <li class="list-group-item">Favorite Color: Purple</li>
</ul>
